*.out
*.suo
*~
*.swp
*.swo
*.bak
*.orig
*.pdb
*.idb
*.ilk
*.stackdump
*.manifest
.ccache
.svn
.DS_Store
.xmake
*.deb
*.zip
*.gch
*.gch.d
.xmake
cscope.*
gmon.out
tags
doc
install.log
build
.vscode
.history/**
docs/.vitepress/dist
docs/.vitepress/cache
node_modules
package-lock.json
